<div *ngIf="(basket$|async)===null">

</div>

<div *ngIf="(basket$|async)as basket" class="p-5">
    <table class="table" >
        <thead class="thead-light">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basket.items" class="p-2">          
            <th scope="row">
                <div class=" row">
                    <div class="col-3">
                        <img src="{{item.pictureUrl}}" style="max-width: 50px; max-height: 50px;"  >
                    </div>

                    <div class="col-9">
                        <a class="row" routerLink="/shop/{{item.id}}" routerLinkActive="router-link-active" >{{item.productName}}</a>   
                        <span class="row text-muted">Type:{{item.type}}</span>
                    </div>
                   
                </div>
            </th>
            
                <td >
                    <div class="text-center align-middle"> 
                    {{item.price|currency}}
                </div>
                </td>
           
           
            <td>
                <i class="fa fa-minus-circle text-warning mr-2" (click)="countDown(item)" style="cursor: pointer; font-size: 2em;"></i>
                <span class="font-weight-bold" style="font-size: 1em;">{{item.quantity}}</span>
                <i class="fa fa-plus-circle text-warning ml-2" (click)="countUp(item)" style="cursor: pointer; font-size: 2em;"></i>
            </td>
            <td>{{item.price*item.quantity|currency}}</td>
            <td>
                <div class="text-center text-danger">
                    <i class="fa fa-trash" style="font-size: 2em; cursor: pointer;" (click)="removeBasketItem(item)"></i>
                </div>
            </td>
           
                
          </tr>            
        </tbody>
      </table>
      <div class="row">
        <div class="row  d-flex float-right col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a [routerLink]="['/checkout']" routerLinkActive="router-link-active" class="btn btn-outline-primary py-1 btn-block my-1">
                Proceed to checkout
            </a>
        </div>
      </div>

       
</div>